# Игнорирование виртуальных окружений
bin/
lib/
pyvenv.cfg

# Игнорирование базы данных
resource_usage.db

# Убедитесь, что вы также добавляете другие файлы, которые не нужны в репозитории
*.pyc
CACHEDIR.TAG
__pycache__/
